In [1]:
import glob
import os
import pandas as pd

In [2]:
path = '/Users/laurawilke/Desktop/Biodiversity Data/'                     # use your path
all_files = glob.glob(os.path.join(path, "*xlsx"))

In [3]:
df = pd.DataFrame()
list_ = []

In [4]:
for file_ in all_files:
    df = pd.read_excel(file_,index_col=None, header=0)
    list_.append(df)
df = pd.concat(list_)

In [5]:
df.shape

(366968, 33)

In [6]:
data=df.drop(columns=['Region','References','Observations','Vouchers','ExternalLinks'])

In [7]:
data['SRank'].fillna('E:E', inplace=True)

In [8]:
data['SRank']=data['SRank'].str.split(":")

In [9]:
test_list=data.SRank.values.tolist()

In [10]:
df2=pd.DataFrame(test_list,columns=['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O'])

In [11]:
data[['State','StateRank']]=df2[['A','B']]

In [15]:
data['GRank'].fillna('E', inplace=True)
data['NPS Tags'].fillna('E',inplace=True)
data['Order'].fillna('E',inplace=True)
data['Family'].fillna('E',inplace=True)
data['Record Status'].fillna('E',inplace=True)
data['Park Accepted'].fillna('E',inplace=True)
data['Sens?'].fillna('E',inplace=True)
data['TSN'].fillna(0,inplace=True)
data['Common Names'].fillna('E',inplace=True)
data['Synonyms'].fillna('E',inplace=True)
data['Occurrence'].fillna('E',inplace=True)
data['Occurrence Tags'].fillna('E',inplace=True)
data['Nativeness'].fillna('E',inplace=True)
data['Nativeness Tags'].fillna('E',inplace=True)
data['Abundance'].fillna('E',inplace=True)
data['Synonyms'].fillna('E',inplace=True)
data['Park Tags'].fillna('E',inplace=True)
data['Internal Park Tags'].fillna('E',inplace=True)
data['T&E'].fillna('E',inplace=True)
data['State Status'].fillna('E',inplace=True)
data['Ozone'].fillna('E',inplace=True)

In [16]:
data.isnull().sum()

Abundance              0
Category               0
Category Sort          0
Common Names           0
Family                 0
GRank                  0
Internal Park Tags     0
NPS Tags               0
Nativeness             0
Nativeness Tags        0
Occurrence             0
Occurrence Tags        0
Order                  0
Ozone                  0
Park Accepted          0
Park Code              0
Park Name              0
Park Tags              0
Record Status          0
SRank                  0
Scientific Name        0
Sens?                  0
State Status           0
Synonyms               0
T&E                    0
TSN                    0
Taxon Code             0
Taxon Record Status    0
State                  0
StateRank              0
dtype: int64

In [17]:
data.head()

,Abundance,Category,Category Sort,Common Names,Family,GRank,Internal Park Tags,NPS Tags,Nativeness,Nativeness Tags,...,Scientific Name,Sens?,State Status,Synonyms,T&E,TSN,Taxon Code,Taxon Record Status,State,StateRank
0,Unknown,Mammal,1,Muskox,Bovidae,G5,E,E,Unknown,E,...,Ovibos moschatus,No,E,E,E,180708.0,95057,Active,AK,S4
1,Abundant,Mammal,1,Dall's sheep,Bovidae,G5,E,Breeder,Native,E,...,Ovis dalli,No,E,E,E,180710.0,95060,Active,AK,S5
2,Common,Mammal,1,Moose,Cervidae,E,E,Breeder,Native,E,...,Alces alces,No,E,E,E,180703.0,95052,Active,E,E
3,Abundant,Mammal,1,Caribou,Cervidae,G5,E,Migratory,Native,E,...,Rangifer tarandus,No,E,E,E,180701.0,95050,Active,AK,S5
4,Unknown,Mammal,1,Arctic fox,Canidae,E,E,E,Native,E,...,Alopex lagopus,No,E,E,E,180602.0,93345,Active,E,E

In [18]:
data.to_csv('/Users/laurawilke/Documents/DSE/lwilke/DSE241/Final Project/biodiversity.csv')